@(countryCodeList:Seq[String])
@import helper._


@main("Assessment") {

    @helper.form(action = routes.QueryController.queryByCode) {
    <select name="value">
        @for(element <- countryCodeList){
        <option value="@element">@element</option>
        }
    </select>
    <button>Query by code</button>
    }


    @helper.form(action = routes.QueryController.queryByName) {
    <input name="value" type="text">
    <button>Query by Name</button>
    }

    @helper.form(action = routes.ReportController.report ) {
    <button>Report</button>
    }

}
