@(result:CountryQuery)

@main(s"Results for ${result.name} (${result.code})") {


  <ul id="airports"></ul>

  <table>

    @for(airport<- result.airports){
    <tr>
      <td>@airport.id</td>
      <td>@airport.name</td>
    </tr>
    }
  </table>
}
